// Devices break points 
$maxMobile: '(max-width: 767px)';
$minSmall: '(min-width: 768px)';
$minMedium: '(min-width: 992px)';
$minLarge: '(min-width: 1200px)';


// Colors 
$mainColor: #226b96;
$liteMainColor: #45b7f3;


