.btn {
    padding: .5rem 1rem;
    background: linear-gradient(to left, $mainColor, $liteMainColor);
    color: #FFF;
    text-transform: uppercase;
    border-radius: 25px;
    border: 0;
    text-align: center;
    @include prefixer(transition, all .3s ease, webkit moz);
}
